<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .Title }}{{ .Title }} | {{ site.Title }}{{ else }}{{ site.Title }}{{ end }}</title>
  {{ with .Description | default site.Params.description }}
    <meta name="description" content="{{ . }}">
  {{ end }}
  <meta name="theme-color" content="#DC2626">
  <meta name="msapplication-TileColor" content="#DC2626">
  <link rel="icon" type="image/png" href="{{ "images/logo-horizontal-principal.png" | relURL }}">
  {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
